/* Reset básico e configuração da página */
body {
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Centraliza o conteúdo e adiciona um fundo branco */
#container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilização do título */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilização dos elementos do formulário */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

/* Estilização das mensagens de resultado e erro */

.error {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    color: red;
}

#resultado{
    margin-top: 10px;
    background-color: rgb(177, 172, 172);
    padding: 6px;
    align-items: center;
    text-align: center;
    font-size: 30px;
}


